*.gem
*.rbc
InstalledFiles
Gemfile.lock
pkg
lib/bundler/man
spec/reports
tmp

# ignore local config files 
.bundle
.config
.rspec
.project

# ignore simplecov path
coverage

# ignore vcr files
spec/vcr 

# YARD artifacts
.yardoc
_yardoc
doc
rdoc
