--- 
recorded_with: VCR 2.2.0
http_interactions: 
- request: 
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/test/events?showDeleted=true
    body: 
      string: ""
    headers: 
      authorization: 
      - Bearer ya29.AHES6ZRjYuDPouzp8FaJ4THdK3txQgHM9Eu3A75X7-NRpXQ
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      content-type: 
      - application/json; charset=UTF-8
    body: 
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Not Found"
           }
          ],
          "code": 404,
          "message": "Not Found"
         }
        }

  recorded_at: Thu, 07 Jun 2012 10:30:33 GMT
