--- 
recorded_with: VCR 2.2.0
http_interactions: 
- request: 
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body: 
      string: ""
    headers: 
      authorization: 
      - Bearer a bad token
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      content-type: 
      - application/json; charset=UTF-8
      www-authenticate: 
      - AuthSub realm="https://www.google.com/accounts/AuthSubRequest" allowed-scopes="https://www.googleapis.com/auth/calendar.readonly,https://www.googleapis.com/auth/calendar"
    body: 
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }

  recorded_at: Thu, 07 Jun 2012 10:30:33 GMT
