--- 
recorded_with: VCR 2.2.0
http_interactions: 
- request: 
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body: 
      string: ""
    headers: 
      authorization: 
      - Bearer ya29.AHES6ZRJREYirgT3P9mBAl7z4o60_30QWomq4V2qnbS26g
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      content-type: 
      - application/json; charset=UTF-8
      www-authenticate: 
      - AuthSub realm="https://www.google.com/accounts/AuthSubRequest" allowed-scopes="https://www.googleapis.com/auth/calendar.readonly,https://www.googleapis.com/auth/calendar"
    body: 
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }

  recorded_at: Thu, 07 Jun 2012 10:30:31 GMT
- request: 
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body: 
      string: grant_type=refresh_token&client_secret=AR8sbYKyLEFfLzmc7JNlvNzc&refresh_token=1%2fmnxovneO3SSKB_iYvP_7xDjWMyuydM332vq81NdR6gw&client_id=491507701942.apps.googleusercontent.com
    headers: 
      content-type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json
    body: 
      string: |-
        {
          "access_token" : "ya29.AHES6ZRjYuDPouzp8FaJ4THdK3txQgHM9Eu3A75X7-NRpXQ",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Thu, 07 Jun 2012 10:30:31 GMT
- request: 
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body: 
      string: ""
    headers: 
      authorization: 
      - Bearer ya29.AHES6ZRjYuDPouzp8FaJ4THdK3txQgHM9Eu3A75X7-NRpXQ
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=UTF-8
      etag: 
      - "\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/uevXOyRggoQ0PtbYlcY3Q9KZ7jg\""
    body: 
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/Vui3VFy5X0OBP9SM1srHlq8RYRI\\\"\",\n \"items\": [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\": \"\\\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/5F2s5uWXNAZg8_Ro8aFe3V2mVYY\\\"\",\n   \"id\": \"#contacts@group.v.calendar.google.com\",\n   \"summary\": \"Anniversaires et \xC3\xA9v\xC3\xA9nements des contacts\",\n   \"description\": \"Anniversaires et dates \xC3\xA0 c\xC3\xA9l\xC3\xA9brer de vos contacts\",\n   \"timeZone\": \"Europe/Zurich\",\n   \"colorId\": \"12\",\n   \"selected\": true,\n   \"accessRole\": \"reader\"\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\": \"\\\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/dYyB0d6GKweN-f8dtnp5GZAZTTc\\\"\",\n   \"id\": \"e_2_de#weeknum@group.v.calendar.google.com\",\n   \"summary\": \"Wochennummern\",\n   \"description\": \"Wochennummern w\xC3\xB6chentlich anzeigen\",\n   \"timeZone\": \"Europe/Zurich\",\n   \"colorId\": \"2\",\n   \"accessRole\": \"reader\"\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\": \"\\\"x7b7CM3NJJxjvBv[...]
[...]
