---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Bearer a bad token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      www-authenticate:
      - AuthSub realm="https://www.google.com/accounts/AuthSubRequest" allowed-scopes="https://www.googleapis.com/auth/calendar.readonly,https://www.googleapis.com/auth/calendar"
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"authError\",\n    \"message\": \"Invalid Credentials\",\n
        \   \"locationType\": \"header\",\n    \"location\": \"Authorization\"\n   }\n
        \ ],\n  \"code\": 401,\n  \"message\": \"Invalid Credentials\"\n }\n}\n"
  recorded_at: Tue, 05 Jun 2012 13:33:00 GMT
recorded_with: VCR 2.1.0
