---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/test/events?showDeleted=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Bearer ya29.AHES6ZToFDCI-ibajUSkGzgI9BIkdb_LKAsu7rV2GmXyyTg
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"Not Found\"\n   }\n  ],\n
        \ \"code\": 404,\n  \"message\": \"Not Found\"\n }\n}\n"
  recorded_at: Tue, 05 Jun 2012 13:33:00 GMT
recorded_with: VCR 2.1.0
