--- 
recorded_with: VCR 2.2.0
http_interactions: 
- request: 
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body: 
      string: ""
    headers: 
      authorization: 
      - Bearer ya29.AHES6ZRJREYirgT3P9mBAl7z4o60_30QWomq4V2qnbS26g
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      content-type: 
      - application/json; charset=UTF-8
      www-authenticate: 
      - AuthSub realm="https://www.google.com/accounts/AuthSubRequest" allowed-scopes="https://www.googleapis.com/auth/calendar.readonly,https://www.googleapis.com/auth/calendar"
    body: 
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }

  recorded_at: Thu, 07 Jun 2012 10:30:25 GMT
- request: 
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body: 
      string: grant_type=refresh_token&client_secret=AR8sbYKyLEFfLzmc7JNlvNzc&refresh_token=1%2fmnxovneO3SSKB_iYvP_7xDjWMyuydM332vq81NdR6gw&client_id=491507701942.apps.googleusercontent.com
    headers: 
      content-type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json
    body: 
      string: |-
        {
          "access_token" : "ya29.AHES6ZR-NFExNHD3nW0tUCRaxyORLlgEQDri8EqtyNytrlA",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Thu, 07 Jun 2012 10:30:26 GMT
- request: 
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body: 
      string: ""
    headers: 
      authorization: 
      - Bearer ya29.AHES6ZR-NFExNHD3nW0tUCRaxyORLlgEQDri8EqtyNytrlA
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=UTF-8
      etag: 
      - "\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/uevXOyRggoQ0PtbYlcY3Q9KZ7jg\""
    body: 
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/Vui3VFy5X0OBP9SM1srHlq8RYRI\\\"\",\n \"items\": [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\": \"\\\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/5F2s5uWXNAZg8_Ro8aFe3V2mVYY\\\"\",\n   \"id\": \"#contacts@group.v.calendar.google.com\",\n   \"summary\": \"Anniversaires et \xC3\xA9v\xC3\xA9nements des contacts\",\n   \"description\": \"Anniversaires et dates \xC3\xA0 c\xC3\xA9l\xC3\xA9brer de vos contacts\",\n   \"timeZone\": \"Europe/Zurich\",\n   \"colorId\": \"12\",\n   \"selected\": true,\n   \"accessRole\": \"reader\"\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\": \"\\\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/dYyB0d6GKweN-f8dtnp5GZAZTTc\\\"\",\n   \"id\": \"e_2_de#weeknum@group.v.calendar.google.com\",\n   \"summary\": \"Wochennummern\",\n   \"description\": \"Wochennummern w\xC3\xB6chentlich anzeigen\",\n   \"timeZone\": \"Europe/Zurich\",\n   \"colorId\": \"2\",\n   \"accessRole\": \"reader\"\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\": \"\\\"x7b7CM3NJJxjvBv[...]
- request: 
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/neville.dubuis@liquid-concept.ch/events?showDeleted=true
    body: 
      string: ""
    headers: 
      authorization: 
      - Bearer ya29.AHES6ZR-NFExNHD3nW0tUCRaxyORLlgEQDri8EqtyNytrlA
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=UTF-8
      etag: 
      - "\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/1n2JiRpOxGRuEeiTPFoVdjee5SI\""
    body: 
      string: "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/NbcYeLZDpuzo-CrMzNmAryBZ1c4\\\"\",\n \"summary\": \"neville.dubuis@liquid-concept.ch\",\n \"updated\": \"2012-06-06T08:14:03.000Z\",\n \"timeZone\": \"Europe/Zurich\",\n \"accessRole\": \"owner\",\n \"defaultReminders\": [\n  {\n   \"method\": \"email\",\n   \"minutes\": 10\n  },\n  {\n   \"method\": \"popup\",\n   \"minutes\": 10\n  }\n ],\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n   \"etag\": \"\\\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/Q05EWG5lS2NKaEVBQUFBQUFBQUFBQT09\\\"\",\n   \"id\": \"b9k1ot7jlkhh8gat7g8dop54qc\",\n   \"status\": \"confirmed\",\n   \"htmlLink\": \"https://www.google.com/calendar/event?eid=YjlrMW90N2psa2hoOGdhdDdnOGRvcDU0cWMgbmV2aWxsZS5kdWJ1aXNAbGlxdWlkLWNvbmNlcHQuY2g\",\n   \"created\": \"2011-08-15T07:10:58.000Z\",\n   \"updated\": \"2011-08-15T07:10:58.000Z\",\n   \"summary\": \"Protection Civil\",\n   \"creator\": {\n    \"email\": \"neville.dubuis@liquid-concept.ch\",\n    \"displayName\": \"N\xC3\xA9ville Dubuis\",\n    \"self\": true\n   },\n   \"organizer\": {\n    \"email\": \"neville.dubuis@liquid-concept.ch\",\n    \"displayName\": \"N\xC3\xA9ville Dubuis\",\n    \"self\": true\n   },\n   \"start\": {\n    \"date\": \"2011-09-26\"\n   },\n   \"end\": {\n    \"date\": \"2011-10-08\"\n   },\n   \"transparency\": \"transparent\",\n   \"iCalUID\": \"b9k1ot7jlkhh8gat7g8dop54qc@google.com\",\n   \"sequence\": 0,\n   \"guestsCanInviteOthers\": true,\n   \"guestsCanSeeOtherGuests\": true,\n   \"reminders\": {\n    \"useDefault\": true\n   }\n  },\n  {\n   \"kind\": \"calendar#event\",\n   \"etag\": \"\\\"x7b7CM3NJJxjvBv5TnpeqYvh3eE/Q0pqNm9ZX29KaEVBQUFBQUFBQUFBQT09\\\"\",\n   \"id\": \"seqsrgnpu8goqibsvd6ss141jo_20120423T071500Z\",\n   \"status\": \"confirmed\",\n   \"htmlLink\": \"https://www.google.com/calendar/event?eid=c2Vxc3JnbnB1OGdvcWlic3ZkNnNzMTQxam9fMjAxMjA0MjNUMDcxNTAwWiBuZXZpbGxlLmR1YnVpc0BsaXF1aWQtY29uY2VwdC5jaA\",\n   \"created\": \"2011-11-22T09:30:35.000Z\",\n   \"updated\": \"2012-04-05T09:49:19.000Z\",\n   \"summary\": \"Sprint Planning\",\n   \"location\": \"Conf\xC3\xA9rence\",\n   \"creator\": {\n    \"email\": \"yann.lugrin@liquid-concept.ch\",\n    \"displayName\": \"Yann Lugrin\"\n   },\n   \"organizer\": {\n    \"email\": \"info@liquid-concept.ch\",\n    \"displayName\": \"Liquid Concept\"\n   },\n   \"start\": {\n    \"dateTime\": \"2012-04-23T14:00:00+02:00\"\n   },\n   \"end\": {\n    \"dateTime\": \"2012-04-23T16:45:00+02:00\"\n   },\n   \"recurringEventId\": \"seqsrgnpu8goqibsvd6ss141jo\",\n   \"originalStartTime\": {\n    \"dateTime\": \"2012-04-23T09:15:00+02:00\"\n   },\n   \"iCalUID\": \"seqsrgnpu8goqibsvd6ss141jo@google.com\",\n   \"sequence\": 2,\n   \"attendees\": [\n    {\n     \"email\": \"yann.lugrin@liquid-concept.ch\",\n     \"displayName\": \"Yann Lugrin\",\n     \"responseStatus\": \"needsAction\"\n    },\n    {\n     \"email\": \"liquid-concept.ch_3539303236373936313236@resource.calendar.google.com\",\n     \"displayName\": \"Conf\xC3\xA9rence\",\n     \"resource\": true,\n     \"responseStatus\": \"accepted\"\n    },\n    {\n     \"email\": \"ludovic.turmel@liquid-concept.ch\",\n     \"displayName\": \"Ludovic Turmel\",\n     \"responseStatus\": \"needsAction\"\n    },\n    {\n     \"email\": \"neville.dubuis@liquid-concept.ch\",\n     \"displayName\": \"N\xC3\xA9ville Dubuis\",\n     \"self\": true,\n     \"responseStatus\": \"needsAction\"\n    },\n    {\n     \"email\": \"julien.henzelin@liquid-concept.ch\",\n     \"displayName\": \"Julien Henzelin\",\[...]
[...]
